{% extends "layout.html" %}

{% block title %}
Projects
{% endblock %}

{% block main %}

<div class="row row-cols-1 row-cols-md-3">
{% for project in projects %}
    <div class="col mb-4">
        <div class="card bg-dark border-secondary">
            <div class="card-body">
                <h4 class="card-title">{{ project["name"] }}</h4>
                <p class="card-text">{{ project["description"] }}</p>
                <a href="{{ project["url"] }}" class="stretched-link"></a>
            </div>
        </div>
    </div>
{% endfor %}
</div>



{% endblock %}
